
body{
  border-radius: 4px;
  text-align: center;
  color: antiquewhite;
  background-color: rgb(202, 212, 214);
  font-size: 15px;
  margin: auto;
  
}
h1{
  color:black;
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.container{
  background-color: 
  git initrgb(226, 233, 226);
margin: auto;
margin-top: 0px;
font-weight: bold;
border-radius: 20px;
border-bottom: 0cqmax;
padding-left: 20px;
padding-bottom: 40px;
padding-right: 20px;
margin-bottom: 0px;

  
}
.div{
  background-color: aliceblue;
  border-radius: 20px;
  margin: auto;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}
.div1{
  background-color: rgb(136, 136, 131);
margin: auto;
margin-top: auto;
font-weight: bold;
border-radius: 90px;
margin-bottom: 0px;


}
P{
  color: black;
  margin: 4px;
  font-size: small;
   font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
img{
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
}