body {
  border-radius: 4px;
  text-align: center;
  color: antiquewhite;
  background-color: rgb(202, 212, 214);
  font-size: 15px;
  margin: auto;
}
h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.div1 {
  background-color: rgb(219, 222, 223);
  height: 100vh;
  display: flex;
  border-radius: 8px;
}
.container {
  background-color: rgb(231, 252, 255);
  margin: auto;
border-radius: 8px;
}
.div {
  background-color: aliceblue;
}

P {
  color: black;
  margin: 4px;
  font-size: small;
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
img {
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
  width: 150px;
}
